# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
.env
.ipynb_checkpoints/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
.env
.ipynb_checkpoints/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Generated output
*.csv
Reports/
